In [1]:
import pandas as pd
df = pd.read_excel("2022 Batch Students Data.xlsx")
df.head()

C:\Users\Rohit Bhapkar\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Rohit Bhapkar\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\Rohit Bhapkar\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\Rohit Bhapkar\anaconda3\lib\site-packages\numpy\.libs\libopenblas.qvlo2t66wepi7jz63ps3hmohfey472bc.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

,Registration id,Name,Email,Placed In,Email.1,Phone,Gender,Department,Programme,Batch year,...,Engineering Qualifying Examination,MAH-AAC-CET Merit Number,MAH-AAC-CET Percentage,Internship Details,Company Name,BE Project Details,Form status,Fee status,Document status,Application status
0,71842577E,Abhishek Sanjay Kadam,Abhishekkadam3060@Gmail.Com,Teachnook,Abhishekkadam3060@Gmail.Com,9.130610e+09,NaN,D. Y. Patil College of Engineering,AK01-B.E (Instrumentation),2017.0,...,JEE,NaN,NaN,NaN,NaN,NaN,Not Approved,Not Initiated,Not Submitted,NaN
1,72012350L,Aishwarya Chandrakant Shinde,Shindeaishwarya657@Gmail.Com,eInfochips,Shindeaishwarya657@Gmail.Com,9.146034e+09,NaN,D. Y. Patil College of Engineering,AK01-B.E (Instrumentation),2018.0,...,NaN,NaN,NaN,1 month internship as an biomedical engineer i...,NaN,NaN,Approved,Not Initiated,Verified,Registered Student
2,72012340C,Ankita Uttamrao Kadam,Ankitakadam2903@Gmail.Com,Rockwell,Ankitakadam2903@Gmail.Com,7.378475e+09,NaN,D. Y. Patil College of Engineering,AK01-B.E (Instrumentation),2018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Approved,Not Initiated,Verified,Registered Student
3,71901235L,Anurag Sahu,Anrgsahu1@Gmail.Com,"Cognizant (Genc), Capgemini",Anrgsahu1@Gmail.Com,8.962731e+09,NaN,D. Y. Patil College of Engineering,AK01-B.E (Instrumentation),2018.0,...,JEE MAINS,NaN,NaN,Industrial training at MIMIC Info Tech,Mimic Infotech Private Limited,NaN,Approved,Not Initiated,Verified,Registered Student
4,71602043C,Ashutosh Sahu,Ashutosh.Sahuashutosh.Sahu12@Gmail.Com,NaN,Ashutosh.Sahuashutosh.Sahu12@Gmail.Com,8.249476e+09,NaN,D. Y. Patil College of Engineering,AK01-B.E (Instrumentation),2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Not Approved,Not Initiated,Not Submitted,NaN

In [2]:
df.shape

(1051, 103)

In [3]:
df.columns

Index(['Registration id', 'Name', 'Email', 'Placed In', 'Email.1', 'Phone',
       'Gender', 'Department', 'Programme', 'Batch year',
       ...
       'Engineering Qualifying Examination', 'MAH-AAC-CET Merit Number',
       'MAH-AAC-CET Percentage', 'Internship Details', 'Company Name',
       'BE Project Details', 'Form status', 'Fee status', 'Document status',
       'Application status'],
      dtype='object', length=103)

In [4]:
df.isnull().sum()

Registration id       102
Name                    0
Email                   1
Placed In             296
Email.1                 1
                     ...
BE Project Details    869
Form status            26
Fee status              8
Document status         9
Application status     88
Length: 103, dtype: int64

In [5]:
backup = df
backup.head()

,Registration id,Name,Email,Placed In,Email.1,Phone,Gender,Department,Programme,Batch year,...,Engineering Qualifying Examination,MAH-AAC-CET Merit Number,MAH-AAC-CET Percentage,Internship Details,Company Name,BE Project Details,Form status,Fee status,Document status,Application status
0,71842577E,Abhishek Sanjay Kadam,Abhishekkadam3060@Gmail.Com,Teachnook,Abhishekkadam3060@Gmail.Com,9.130610e+09,NaN,D. Y. Patil College of Engineering,AK01-B.E (Instrumentation),2017.0,...,JEE,NaN,NaN,NaN,NaN,NaN,Not Approved,Not Initiated,Not Submitted,NaN
1,72012350L,Aishwarya Chandrakant Shinde,Shindeaishwarya657@Gmail.Com,eInfochips,Shindeaishwarya657@Gmail.Com,9.146034e+09,NaN,D. Y. Patil College of Engineering,AK01-B.E (Instrumentation),2018.0,...,NaN,NaN,NaN,1 month internship as an biomedical engineer i...,NaN,NaN,Approved,Not Initiated,Verified,Registered Student
2,72012340C,Ankita Uttamrao Kadam,Ankitakadam2903@Gmail.Com,Rockwell,Ankitakadam2903@Gmail.Com,7.378475e+09,NaN,D. Y. Patil College of Engineering,AK01-B.E (Instrumentation),2018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Approved,Not Initiated,Verified,Registered Student
3,71901235L,Anurag Sahu,Anrgsahu1@Gmail.Com,"Cognizant (Genc), Capgemini",Anrgsahu1@Gmail.Com,8.962731e+09,NaN,D. Y. Patil College of Engineering,AK01-B.E (Instrumentation),2018.0,...,JEE MAINS,NaN,NaN,Industrial training at MIMIC Info Tech,Mimic Infotech Private Limited,NaN,Approved,Not Initiated,Verified,Registered Student
4,71602043C,Ashutosh Sahu,Ashutosh.Sahuashutosh.Sahu12@Gmail.Com,NaN,Ashutosh.Sahuashutosh.Sahu12@Gmail.Com,8.249476e+09,NaN,D. Y. Patil College of Engineering,AK01-B.E (Instrumentation),2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Not Approved,Not Initiated,Not Submitted,NaN

In [28]:
df['Disability Percentage (Only for Person with Disability)'] = df['Disability Percentage (Only for Person with Disability)'] * 0

In [46]:
df = df.drop(['Aadhar Number (UID)', 'Admission Type', 'Alternate Email ID', 'Alternate Mobile Number', 'Application status'
             , 'Batch year'], axis=1)

In [51]:
df = df.drop(['Blood Group', 'Career Choice After BE', 'Category', 'Class 10 Board', 'Class 10 Marks Obtained / Total Marks', 
              'Class 10 Year of Passing', 'Class 10+2 Board','Class 10+2 Marks Obtained / Total Marks', 'Class 10+2 Stream', 
              'Class 10+2 Year of Passing', 'Company Name', 'Degree Year of Passing', 'Department', 'Diploma  Year of Passing',
              'Diploma Board', 'Diploma Marks Obtained / Total Marks', 'Diploma Stream', 'Disability Percentage (Only for Person with Disability)',
              'Document status', 'Email', 'Email ID', 'Engineering Qualifying Examination', "Father's Email ID"], axis=1)

In [54]:
df = df.drop(['Registration id', 'Name', 'Email.1', 'Phone', 'Gender',
       'Programme', 'Gender.1', 'Marital Status', 'Nationality',
       'State of Domicile', 'Foreign Languages Known',"Father's Title",
       "Father's Occupation", "Mother'sTitle", "Mother's Occupation",
       'UG Stream', 'Software Knowledge', 'First Name', "Father's Name",
       'Last Name', "Mother's Name", 'Mobile Number', 'Date of Birth',
       'Religion & Caste', 'PAN Number',
       'Permanent Registration Number (except First Year students)',
       "Father's Full Name", "Father's Mobile Number",
       "Father's Occupational Designation",
       "Father's Occupation Name of Organisation", "Mother's Full Name",
       "Mother's Mobile Number", "Mother's Email ID",
       "Mother's Occupational Designation",
       "Mother's Occupation Name of Organisation",
       "Student's Permenant Address", "Student's Local Address" ,'Name of  Degree (UG)', 'Sem1 SGPA',
       'Sem1 Percentage ( Total Marks obtained / Total Marks of all subjects in Semester I)',
       'Sem2 SGPA',
       'Sem2 Percentage ( Total Marks obtained / Total Marks of all subjects in Semester II)',
       'Unnamed: 72', 'Sem3 SGPA',
       'Sem3 Percentage ( Total Marks obtained / Total Marks of all subjects in Semester III)',
       'Sem4 SGPA',
       'Sem4 Percentage ( Total Marks obtained / Total Marks of all subjects in Semester IV)',
       'Unnamed: 77', 'Sem5 SGPA',
       'Sem5 Percentage  ( Total Marks obtained / Total Marks of all subjects in Semester V)',
       'Sem6 SGPA',
       'Sem6 Percentage ( Total Marks obtained / Total Marks of all subjects in Semester VI)',
       'Unnamed: 82', 'Sem7 SGPA',
       'Sem7 Percentage ( Total Marks obtained / Total Marks of all subjects in Semester VII)',
       'Sem8 SGPA',
       'Sem8 Percentage ( Total Marks obtained / Total Marks of all subjects in Semester VIII)','Number of Dead Backlogs', 'MAH-AAC-CET Merit Number', 'MAH-AAC-CET Percentage',
        'Form status', 'Fee status'],axis=1)

In [55]:
df.columns

Index(['Placed In', 'Are you a person with Disability', 'Class 10 Percentage',
       'Class 10+2 Percentage', 'Diploma Percentage',
       'Degree Percentage (Degree Marks Obtained / Total Marks)',
       'Degree CGPA', 'Number of Live Backlogs', 'Educational GAP (in Years)',
       'Year Down in Engineering (in Years)', 'Internship Details',
       'BE Project Details'],
      dtype='object')

In [56]:
df.head()

,Placed In,Are you a person with Disability,Class 10 Percentage,Class 10+2 Percentage,Diploma Percentage,Degree Percentage (Degree Marks Obtained / Total Marks),Degree CGPA,Number of Live Backlogs,Educational GAP (in Years),Year Down in Engineering (in Years),Internship Details,BE Project Details
0,Teachnook,No,58.8,53.23,NaN,70.5,7.8,na,NaN,1,NaN,NaN
1,eInfochips,No,86.40%,NaN,71.38%,67.2,7.47,NaN,NaN,NaN,1 month internship as an biomedical engineer i...,NaN
2,Rockwell,NaN,82.8,NaN,0.7675,76.88,8.49,0,NaN,NaN,NaN,NaN
3,"Cognizant (Genc), Capgemini",No,93.10,84.2,NaN,85.33,9.04,0,1,NaN,Industrial training at MIMIC Info Tech,NaN
4,NaN,no,81.7,NaN,NaN,na,NaN,na,NaN,NaN,NaN,NaN

In [57]:
df.to_csv(r'C:\Users\Rohit Bhapkar\Desktop\Be Project\Final Model\Cleaned_Data.csv')

# Part 1 of columns

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Cleaned_Data_Part1.csv")
df.head()

,Unnamed: 0,Placed In,Are you a person with Disability,Class 10 Percentage,Class 10+2 Percentage,Diploma Percentage,Degree Percentage (Degree Marks Obtained / Total Marks),Degree CGPA,Number of Live Backlogs,Educational GAP (in Years),Year Down in Engineering (in Years),Internship Details,BE Project Details
0,0,Teachnook,No,58.8,53.23,NaN,70.5,7.8,na,NaN,1,NaN,NaN
1,1,eInfochips,No,86.40%,NaN,71.38%,67.2,7.47,NaN,NaN,NaN,1 month internship as an biomedical engineer i...,NaN
2,2,Rockwell,NaN,82.8,NaN,0.7675,76.88,8.49,0,NaN,NaN,NaN,NaN
3,3,"Cognizant (Genc), Capgemini",No,93.10,84.2,NaN,85.33,9.04,0,1,NaN,Industrial training at MIMIC Info Tech,NaN
4,4,NaN,no,81.7,NaN,NaN,na,NaN,na,NaN,NaN,NaN,NaN

In [3]:
df.shape

(1051, 13)

In [6]:
df = df.drop('Unnamed: 0', axis=1)

In [5]:
df.columns

Index(['Unnamed: 0', 'Placed In', 'Are you a person with Disability',
       'Class 10 Percentage', 'Class 10+2 Percentage', 'Diploma Percentage',
       'Degree Percentage (Degree Marks Obtained / Total Marks)',
       'Degree CGPA', 'Number of Live Backlogs', 'Educational GAP (in Years)',
       'Year Down in Engineering (in Years)', 'Internship Details',
       'BE Project Details'],
      dtype='object')

In [7]:
df.head()

,Placed In,Are you a person with Disability,Class 10 Percentage,Class 10+2 Percentage,Diploma Percentage,Degree Percentage (Degree Marks Obtained / Total Marks),Degree CGPA,Number of Live Backlogs,Educational GAP (in Years),Year Down in Engineering (in Years),Internship Details,BE Project Details
0,Teachnook,No,58.8,53.23,NaN,70.5,7.8,na,NaN,1,NaN,NaN
1,eInfochips,No,86.40%,NaN,71.38%,67.2,7.47,NaN,NaN,NaN,1 month internship as an biomedical engineer i...,NaN
2,Rockwell,NaN,82.8,NaN,0.7675,76.88,8.49,0,NaN,NaN,NaN,NaN
3,"Cognizant (Genc), Capgemini",No,93.10,84.2,NaN,85.33,9.04,0,1,NaN,Industrial training at MIMIC Info Tech,NaN
4,NaN,no,81.7,NaN,NaN,na,NaN,na,NaN,NaN,NaN,NaN